 .main-container {
    width: 330px;
    margin: 0 auto;
    background-color: var(--color3);
}

.todo-content-container {
  display: flex;
  flex-direction: column;
  max-height: 430px;
  overflow: scroll;
}

.todo-content-container {
  overflow: scroll;

}

.main-container h3{
  padding: .5rem 1rem;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #FF0000;
}

.view-actions {
  display: flex;
}

.view-buttons {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  padding-right: 10px;
  align-content: baseline;
}

.view-buttons button {
  appearance: none;
  background: none;
  border: none;
  padding-left: .5rem;
}

.view-buttons button:hover{
  cursor: pointer;
}


