<div #todolistContainer id="todolist-container" 
[ngStyle]="{'background-color': filteringCategories(todo.category)}">
  <div style="list-style-type: none;" id="todolist">
    <div class="todo-item"
    [ngStyle]="{'background-color':todolistContainer.style.backgroundColor}">
      <input  type="text" value="{{todo.title}}" id="todo-text" readonly>

      <div id="action-buttons">
        <fa-icon class="fa-check" [icon]="faCheck" (click)="finishingTodo(todo)"></fa-icon>
        <fa-icon class="fa-times" [icon]="faTimes" (click)="deletingTodo(todo)"></fa-icon>
        
      </div>

    </div>
  </div>
</div>