<div id="todolist-container">
  <ul style="list-style-type: none;" id="todolist">
    <li>
      <input type="text" value="{{todo.title}}" id="todo-text" readonly>

      <div id="action-buttons">
        <fa-icon
        (click)="finishingTodo(todo)"
        [ngStyle]="{color: 'blue'}"
        [icon]="faCheck"
        >
        </fa-icon>
        <fa-icon 
        (click)="deletingTodo(todo)"
        [ngStyle]="{color: 'red'}"
        [icon]="faTimes">
        </fa-icon>
      </div>

    </li>
  </ul>
</div>