<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id="todo-container">
  <h1>{{title}}</h1>

  <form [formGroup]="form" id="todo-form">
    <fieldset id="new-todo">
        <div id="add-todo">
          <input type="text"
          placeholder="What to do next?" 
          formControlName="title" required 
          maxlength="30" #inputtask id="input-task">
          
          <select name="Categories" id="category" formControlName="category" required>
            <option value="Work">1 - Work</option>
            <option value="Health">2 - Health</option>
            <option value="Fun">3 - Fun</option>
            <option value="Other">4 - Other</option>
          </select>
          

        </div>
        
        <input type="button" id="submit-todo" value="Add Task" [disabled]="form.invalid" (click)="addTask()">

      </fieldset>
    </form>
    <span 
        id="advice-form"   
        *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
        >This field should contain at least 3 caracteres
    </span>
    <span 
        id="advice-form"   
        *ngIf="form.controls['category'].invalid && !form.controls['category'].pristine"
        >Select a category
    </span>

</div>
<div id="todolist-container" *ngIf="todos.length != 0">
  <ul id="todolist">
    <li *ngFor="let todo of todos" style="list-style: none;">
     
        <span 
        (click)="finishTask(todo)"
        class="material-symbols-outlined" 
        id="finish-todo"
        >Done</span>
        <input type="text" value="{{todo.title}}" readonly id="todo-text">
        <span id="category-emoji">{{todo.category}}</span>

        <div id="action-buttons">
            <span 
            *ngIf="!todo.done" 
            (click)="reopenTask(todo)"
            class="material-symbols-outlined" 
            >Edit</span>
            <span 
            class="material-symbols-outlined" 
            (click)="removeTask(todo)"
            >Delete</span>   
        </div>

    </li>
  </ul>
</div>