
<div id="task-container">
  <h1>{{title}}</h1>

  <form [formGroup]="form" id="task-form">
    <fieldset id="new-task">
        <div id="add-task">
          <input type="text"
          placeholder="What to do next?" 
          formControlName="title" required 
          maxlength="30" #inputtask id="input-task">
    
          <span id="advice-form" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
          >This field should contain at least 3 caracteres</span>
    
          
          <select name="Categories" id="category" formControlName="category" required>
            <option value="Work">1 - Work</option>
            <option value="Personal">2 - Personal</option>
            <option value="Health">3 - Health</option>
            <option value="Fun">4 - Fun</option>
          </select>

        </div>

        <input type="button" id="submit-task" value="Add Task" [disabled]="form.invalid" (click)="addTask()">
      </fieldset>
  </form>
  
  <div id="tasklist-container">
    <ul id="tasklist">
      <li *ngFor="let task of tasks" style="list-style: none;">
        {{task.title}} | Complete: {{task.done}} | Category: {{task.category}}
        <button *ngIf="!task.done" (click)="finishTask(task)">Done</button>
        <button *ngIf="task.done" (click)="reopenTask(task)">Edit</button>
        <button (click)="removeTask(task)">Delete</button>  
      </li>
    </ul>
  </div>
</div>
