h1, form{
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    background-color: aquamarine;
}

li {
    width: 300px;
}