@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor: #042940;
    --containercolor: #005C53;
    --color3: #9FC131;
    --color4: #DBF227;
    --color3: #D6D58E;

}

body {
    background-color: var(--bgcolor);
    height: 100vh;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

#todo-container {
    width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--color3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#todo-form {
    padding: 1rem;
}

fieldset {
    border: none;
}

#new-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-todo input {
    padding: .3rem .5rem;
    margin-right: .2rem;
}

#add-todo {
    display: flex;
    justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#submit-todo {
    width: 20%;
    display: flex;
    align-items: flex-end;
}

#advice-form {
    font-size: small;
    padding-left: 1rem;
    font-style: italic;
}

#todolist-container {
    margin: 1rem auto;
    width: 400px;
    background-color: var(--color4);
    padding: .5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#todolist li {
    display: flex;
    justify-content: space-between;
    padding: .4rem 1rem;
    
}

#todolist input {
    font-family: 'Merriweather', serif;
    font-style: italic;
    padding: 0 .5rem;
    width: 80%;
}

#todo-management {
    position: relative;
    display: inline-block;
}

.drop-content {
    display: none;
    justify-content: row;
    position: absolute;
    background-color: #f9f9f9;
    width: 3.5rem;
    height: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: .3rem;
    border: none;
    cursor: pointer;
}

#todo-management:hover .drop-content {
    display: flex;
    padding: .5rem 1rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    vertical-align: center;
}

input#todo-text {
    padding-left: 2rem;
}

#finish-todo {
    position: absolute;
    padding-left: .2rem;
}

#finish-todo, #category-emoji, #action-buttons {
    padding-top: 2px;
}

#category-emoji {
    margin-left: -4rem;
}


input {
    border: none;
    appearance: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#buttons button {
    height: .5rem;
    width: .5rem;
}

#action-buttons span:hover, #finish-todo {
    cursor: pointer;
}

#todo-container select {
    background-color: var(--containercolor);
    height: 25.6px;
    color: var(--color4);
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    --webkit-appearance: button;
    appearance: button;
    outline: none;
}
